<div class="jumbotron" style="position: relative">
  <div class="text-center">
    <h1 class="display-4">Adrian Tan</h1>
    <h3>Software Engineer / Fullstack Developer</h3>
  </div>
  <div style="position: absolute; bottom: 5px; right: 10px">
    <a
      href="www.linkedin.com/in/adrian-tan-chong-wee"
      target="_blank"
      class="mx-2"
    >
      <img
        src="../../assets/LinkedinLogo.svg"
        alt="LinkedIn Logo"
        width="24"
        height="24"
      />
    </a>
    <a
      href="https://github.com/Adriantan1996/html-css-course-2022.git"
      target="_blank"
      class="mx-2"
    >
      <img
        src="../../assets/GithubLogo.svg"
        alt="Github Logo"
        width="24"
        height="24"
      />
    </a>
  </div>
</div>
